@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.slider {
  width: 540px;
  height: 520px;
  padding-left: 20px;
  transform: translate(-62%, -50%);
  overflow-y: hidden;
}

.circular-slider {
  border-radius: 50%;
  width: 87%;
  height: 87%;
  margin: 5%;
  margin-left: 12%;
  border: 2px solid #FFF;
}

.slides-holder {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  transition: .3s linear all;
}

.slides-holder__item {
  height: 510px;
  position: absolute;
  top: -30px;
  transform-origin: center;
}

.slides-holder__item .slides-item {
  border: 2px solid #FFF;
  border-radius: 50%;
  position: relative;
  width: 68px;
  height: 68px;
  transform: scale(1);
  color: #FFF;
  transition: .3s linear all;
}

.slides-holder__item .slides-item-bg {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #fff126;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides-holder .slides-holder__item_active .slides-item {
  transform: scale(1.7);
  color: #fff126 !important;
  border: 2px solid #fff126;
}

.slides-holder__item .slides-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider .descriptions {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 300px;
}

.slider .descriptions__item {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s ease transform;
}

.slider .descriptions__item_visible {
  opacity: 1;
  transform: translateY(-15px);
}

.slider .slides-item .fa {
  transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
}

.extenseAll .toggle__dot {
  top: 2px;
  left: 3.5px;
  transition: all 0.3s ease-in-out;
}

.extenseAll input:checked~.toggle__dot {
  transform: translateX(100%);
  left: 5px;
  background-color: #34D399;
}

@media (min-width: 768px) {
  .md\:content-detail_before {
    opacity: 0;
    transform: translateY(60%);
    z-index: 0;
  }

  .md\:content-detail_active {
    opacity: 1;
    transform: translateY(-50%);
    z-index: 1;
  }

  .md\:content-detail_after {
    opacity: 0;
    transform: translateY(-160%);
    z-index: 0;
  }
}

.max-h-2\/3 {
  max-height: 66.666667%;
}

.max-h-3\/4 {
  max-height: 75%;
}

.-ml-5\.5 {
  margin-left: -1.57rem;
}

.font-roboto {
  font-family: "Roboto";
}

.animated-zoom {
  animation: zoom 2s infinite;
}

@keyframes zoom {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


.message-container {
  transition: all 0.3s ease-in-out;
}

.message-win-bg {
  box-shadow: inset 0px 0px 14px 9px rgba(0, 0, 0, 0.28);
  background-image: url("data:image/svg+xml, %3Csvg width='100%25' height='100%25' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23fbe570' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='0' rx='29' ry='29' /%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23a19246' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='40' rx='29' ry='29' /%3E%3C/svg%3E");
  animation: borderAnimation 1s infinite;
}

.message-win-bg .win-content {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.28);
}

.message-win-bg .btn-continuous {
  transform: translateY(0);
  transition: all 0.1s ease-in;
}

.message-win-bg .btn-continuous:hover {
  transform: translateY(-4px);
  animation: btnWin 0.5s infinite;
}

@keyframes btnWin {
  from {
    color: #4e1c1c;
    background-color: #f5d316;
  }

  to {
    color: #9e3939;
    background-color: #ddcf80;
  }
}

@keyframes borderAnimation {
  from {
    background-image: url("data:image/svg+xml, %3Csvg width='100%25' height='100%25' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23fbe570' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='0' rx='29' ry='29' /%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23a19246' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='40' rx='29' ry='29' /%3E%3C/svg%3E")
  }

  to {
    background-image: url("data:image/svg+xml, %3Csvg width='100%25' height='100%25' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23a19246' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='0' rx='29' ry='29' /%3E%3Crect width='calc(100%25 - 27px)' height='93%25' x='14' y='15' stroke='%23fbe570' stroke-width='13' stroke-dasharray='0%25 22%25' stroke-linecap='round' fill='transparent' stroke-dashoffset='40' rx='29' ry='29' /%3E%3C/svg%3E")
  }
}

/* Customize Scrollbar */
.my-cv::-webkit-scrollbar, .landing-page-demo::-webkit-scrollbar {
  width: 12px;
}

.my-cv::-webkit-scrollbar-track {
  background: #059669;
}

.my-cv::-webkit-scrollbar-thumb {
  background: #fdfdfd;
  border-radius: 10px;
}

.landing-page-demo::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px;
}

/*  End custom */

.landing-page-demo::-webkit-scrollbar-track {
  background: #000;
}

.perspective-100 {
  perspective: 100px;
}

.rotate-up {
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 0;
  transform: translateX(-50%) translateY(50%) translateZ(-50px) rotateX(-90deg);
}

.rotate-down {
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%) translateZ(-50px) rotateX(90deg);
}

.rotate-front {
  opacity: 1;
  transform-style: preserve-3d;
  z-index: 1;
  transform: translateX(-50%) translateY(0%) translateZ(0) rotateX(0deg);
}

.tv-bg {
  position: relative;
  background-image: url("/public/images/tv-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.tv-bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/images/tv.png");
  background-repeat: no-repeat;
  background-size: contain;
}